@model IEnumerable<DisplayCredits.Models.JoinClass>

@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Kredi Listesi</title>
</head>
<body>
    <!--   navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link font-weight-bold" href="#">Kredi Listesi <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <span class="text-white" style="margin-right:20px">@Session["kullaniciAdi"]</span>


                <form class="form-inline">
                    <input class="btn btn-outline-light my-2 my-sm-0" onclick="location.href='@Url.Action("Logout","Login")'" type="button" value="Çıkış" />
                </form>
            </div>
        </div>
    </nav>

    <!-- container -->
    <main role="main" class="container mb-5">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <p>
                @Html.ActionLink("Kredi Ekle", "Create")
            </p>
            <!--table               -->
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Kredi No</th>
                        <th scope="col">Müşteri Adı</th>
                        <th scope="col">Şube</th>
                        <th scope="col">Kredi Tutarı</th>
                        <th scope="col">Döviz Cinsi</th>
                        <th scope="col">Kredi Statüsü</th>
                        <th scope="col">Açılış Tarihi</th>
                        <th scope="col">Vade Tarihi</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.GetCredit.contract_no</td>
                        <td>@item.GetClient.name @item.GetClient.surname</td>
                        <td>@item.GetBranch.name</td>
                        <td>@item.GetCredit.opening_amount</td>
                        <td>@item.GetCredit.currency</td>
                        <td>@item.GetParameter.name</td>
                        <td>
                            @{
                                if (@item.GetCredit.start_date.HasValue)
                                {
                                    @item.GetCredit.start_date.Value.ToShortDateString();
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (@item.GetCredit.maturity_date.HasValue)
                                {
                                    @item.GetCredit.maturity_date.Value.ToShortDateString();
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {  id=item.GetCredit.contract_no }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.GetDiary.contract_no }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.GetCredit.contract_no })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
