@model DisplayCredits.Models.CreditViewModel
@{
    ViewBag.Title = "Kredi Ekle";
}
@{
    Layout = null;
}


<!doctype html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fontawesome.com/v4.7.0/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })
    </script>
    <title>Kredi Ekle</title>
</head>
<body>
    <!--   navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link font-weight-bold" href="#">Kredi Ekle <span class="sr-only">(current)</span></a>
                    </li>
                </ul>

                <span class="text-white" style="margin-right:20px">@Session["kullaniciAdi"]</span>


                <form class="form-inline">
                    <input class="btn btn-outline-light my-2 my-sm-0" onclick="location.href='@Url.Action("Logout","Login")'" type="button" value="Çıkış" />
                </form>
            </div>
        </div>
    </nav>
    <main role="main" class="container mb-5">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Credit.client_no, "Müşteri Numarası", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Credit.client_no, new SelectList(Model.Clients, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.Credit.client_no, new { htmlAttributes = new { @Value = @Session["personelId"] } })*@
                            @Html.ValidationMessageFor(model => model.Credit.client_no, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Credit.branch_code, "Şube Kodu", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Credit.branch_code, new SelectList(Model.Branches, "branch_code", "name"), htmlAttributes: new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.Credit.branch_code, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.Credit.branch_code, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Credit.opening_amount, "Açılış Tutarı", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Credit.opening_amount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Credit.opening_amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Credit.currency, "Döviz Cinsi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Credit.currency, new SelectList(Model.Currencies), htmlAttributes: new { @class = "form-control" })
                            @*@Html.EditorFor(model => model.Credit.currency, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.ValidationMessageFor(model => model.Credit.currency, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Credit.start_date, "Açılış Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            @Html.EditorFor(model => model.Credit.start_date, new { htmlAttributes = new { @class = "form-control", @placeholder="YYYY-MM-DD" } })
                            @Html.ValidationMessageFor(model => model.Credit.start_date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Credit.maturity_date, "Vade Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Credit.maturity_date, new { htmlAttributes = new { @class = "form-control", @placeholder = "YYYY-MM-DD" } })
                            @Html.ValidationMessageFor(model => model.Credit.maturity_date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Ekle" class="btn btn-outline-dark my-2 my-sm-0" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Kredi Listesine Geri Dön", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
